---
import Layout from "../layouts/Layout.astro";
import PortadaStatic from "../components/section/PortadaStatic.astro";
import Certificaciones from "../components/section/Certificaciones.astro";
import Comentarios from "../components/section/Comentarios.astro";
import Actividades from "../components/section/Actividades.astro";

---

<Layout title="" description="" >
    <PortadaStatic texto="Home"/>
    <Actividades/>
    <Certificaciones/>
    <div class="px-4">
    <p class="text-azul-travel font-semibold">Explore The Word</p>
    <h2 class="text-4xl font-bold ">What Our Passenger Say?</h2>
    </div>

    <Comentarios/>
</Layout>
