---
import Carro from "../svg/Carro.astro";
import Avion from "../svg/Avion.astro";
import Corbata from "../svg/Corbata.astro";
import Montana from "../svg/Montana.astro";
import Mapa from "../svg/Mapa.astro";
const {lenguaje}=Astro.props
---

<section class="max-w-5xl mx-auto px-4 py-12 text-center">
  <h2 class="text-4xl font-semibold text-gray-900 mb-8">
    {lenguaje.tituloActividades}
  </h2>

  <div
    class="grid grid-cols-4 text-xs md:text-lg sm:grid-cols-3 md:grid-cols-5 gap-2 md:gap-4"
  >
    {
      lenguaje.servicesActividades.map((item) => (
        <button
          class={`flex flex-col h-25 md:h-40 items-center text-azul-travel hover:scale-105 active:scale-95 duration-300 hover:text-white justify-center gap-2 px-2 py-4 rounded-lg transition hover:bg-azul-travel group border focus:bg-azul-travel focus:text-white  active:bg-azul-travel border-gray-200 `}
          aria-current={item.activo ? "true" : undefined}
        >
          {item.icon === "carrito" && <Avion style="w-10 min-h-6 h-auto " />}
          {item.icon === "guia" && (
            <Mapa style=" w-10 h-auto min-h-6 text-azul-travel group-hover:text-white group-active:text-white group-focus:text-white " />
          )}
          {item.icon === "montanas" && (
            <Montana style="w-10 h-auto min-h-6 text-azul-travel group-hover:text-white group-active:text-white group-focus:text-white" />
          )}
          {item.icon === "corbata" && (
            <Corbata style="w-10 h-auto min-h-6 text-azul-travel group-hover:text-white group-active:text-white group-focus:text-white" />
          )}
          {item.icon === "4x4" && (
            <Carro style="w-10 h-auto min-h-6 text-azul-travel group-hover:text-white group-active:text-white group-focus:text-white" />
          )}

          <span class=" font-medium leading-snug">{item.title}</span>
        </button>
      ))
    }
  </div>
</section>
