---
import Formulario from "../ui/Formulario.astro";
const { lenguaje } = Astro.props;
---

<section class="bg-gray-100 py-6">
  <div
    class="max-w-6xl mx-auto px-4 grid place-items-center md:grid-cols-2 gap-8"
  >
    <div>
      <p class="py-4">{lenguaje.formDescripcion}</p>

      <!-- Imagen lateral -->
      <img
        src="/images/contacto.webp"
        alt="Contact Us Group"
        class="rounded-xl object-cover w-full h-[60svh] shadow-md"
        loading="lazy"
        decoding="async"
      />
    </div>

    <Formulario lenguaje={lenguaje} />
  </div>
</section>

<!-- EmailJS y reCAPTCHA (AJUSTA LOS IDs) -->

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('E6459n1o-mTYoqA3b')
</script>
<script is:inline>

 const btn = document.getElementById('button');

document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Sending...';

   const serviceID = 'service_3iya7ah';
   const templateID = 'template_zbmrdgd';

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.value = 'Send Email';
      alert('Sent!');
    }, (err) => {
      btn.value = 'Send Email';
      alert(JSON.stringify(err));
    });
});
</script>
